/* ABOUT PAGE STYLESHEET */

  .about__header {
    text-align: center;
    font-size: 35px;
    margin-bottom: 7%;
    text-transform: uppercase;
  }

  .about__collection {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25vh;
  }

  .about__collection__description {
    width: 45%;
  }

  .about__collection__description__text {
    direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .about__collection__title {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8vh;
  }
  
  .about__collection__text {
    text-align: left;
    font-size: 15px;
    margin-bottom: 8vh;
    margin-right: 3vw;
    text-transform: uppercase;
    line-height: 32px;
  }


  .about__collection__gif {
    width: 45%;
    justify-content: right;
    align-items: right;
    text-align: right;
  }

  .about__collection__gif__img {
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about__team {

  }


@media screen and (max-width:1000px) {
  .about__collection {
    width: 100%;
  }

  .about__collection__description {
    width: 100%;
  }

  .about__collection__gif {
    width: 100%;
    text-align: center;
  }

  .about__collection__title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 8vh;
  }
  
  .about__collection__text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 8vh;
    margin-right: 3vw;
    text-transform: uppercase;
    line-height: 32px;
  }
}
