/* MINTER PAGE STYLESHEET */

.minter__grid {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.minter__grid__gif {
    width: 50%;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.minter__grid__gif__img{
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minter__grid__action {
    width: 50%;
}



.minter__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 50px;
    text-transform: uppercase;
}
  
.minter__subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 30px
}

.minter__input {
    margin-top: 30px;
    border-color: transparent;
    width: 150px;
    opacity: 1;
}
  
.minter__btn {
    margin-top: 30px;
    margin-left: 2rem;
    border-color: transparent;
    text-transform: uppercase;
}

.minter__btn__first {
    margin-top: 30px;
    border-color: transparent;
    text-transform: uppercase;
}

.minter__btn__last {
    margin-top: 30px;
    margin-left: 2rem;
    border-color: transparent;
    text-transform: uppercase;
}

@media screen and (max-width:767px) {
    .minter__grid__gif {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10vh;
    }
    
    .minter__grid__action {
        width: 100%;
    }
    
    .minter__btn__last {
        margin-left: 0;
    }

}