/* MINTER PAGE STYLESHEET */
.minter__grid {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.minter__grid__gif {
    width: 55%;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.minter__grid__gif__img{
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minter__grid__action {
    width: 45%;
}

.minter__title {
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 45px;
    text-transform: uppercase;
}
  
.minter__subtitle {
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 6vh
}

.minter__warning {
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
    text-transform: uppercase;
}

.minter__reminder {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 3vh
}

.minter__subtitle__price {
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 6vh
}


.minter__info {
    color: var(--tertiary);
    font-family: var(--font-primary-bold);
}

.minter__input {
    display: inline-block;
    padding: 1rem 2rem;
    width: 100px;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 2vw;
    text-transform: capitalize;
    transition: all 0.3s ease;
    cursor:none;
    position: relative;
    text-decoration: none;
    outline: none;
    z-index: 0;
    margin-top: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-color: transparent;
    opacity: 1;
}
  
.minter__btn {
    display: inline-block;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    padding: 1rem 2rem;
    font-size: 2vw;
    margin-top: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-color: transparent;
    text-transform: uppercase;
    z-index: 0;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
}

.minter__switch__btn {
    display: inline-block;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    padding: 1rem 2rem;
    font-size: 1.5vw;
    margin-top: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-color: transparent;
    text-transform: uppercase;
    z-index: 0;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
}

.minter__etherscan {
    margin-top: 7%;
    color: var(--tertiary);
    text-decoration: underline;
}

@media screen and (max-width:1000px) {
    .minter__grid__gif {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10vh;
    }
    
    .minter__grid__action {
        width: 100%;
    }

    .minter__title {
        font-size: 6vw;
    }

    .minter__warning {
        font-size: 6vw;
    }
      
    .minter__subtitle {
        font-size: 4vw;
    }

    .minter__subtitle__price {
        font-size: 4vw;
    }

    .minter__input {
        font-size: 4vw;
    }
      
    .minter__btn {
        font-size: 4vw;
    }

    .minter__switch__btn {
        font-size: 3vw;
    }
}