.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    min-height: 15vh;
    max-height: 18vh;
    box-shadow: var(--header-shadow);
    background-color: var(--primary);
    font-size: 2vw;
}

.navbar__logo {
    display: inline-flex;
    align-items: center;        
}

.navbar__socials {
    padding: 0 1vw 0 1vw;
}


.navbar__links {
    display: inline-flex;
    align-items: center;
    transition: none;
}

.navbar__item {
    display: inline-block;
    padding: 2vh 2vw 2vh 2vw;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbar__link {
    color: var(--tertiary);
    opacity: .7;
    text-decoration: none;
}

.active{
    color: var(--tertiary);
    text-decoration: underline;
    text-underline-offset: 10px;
    opacity: 1;
  }

.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    color: inherit;
}

.navbar__wallet {
    width: 20vw;
    border-color: transparent;
    font-size: 1.5vw;
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    text-transform: capitalize;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    z-index: 0;
  }

@media screen and (max-width:1000px) {
    .navbar {
        display: inline;
    }

    .navbar__logo {
        display: inline-flex;
        align-items: center;        
    }

    .navbar__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100vw;
        position: fixed;
        bottom: 0;
        width: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        transition: all .8s ease-out;
        background-color: var(--primary);
    }

    .show-nav .navbar__links {
        width: 100vw;
        right: 0;
        visibility: visible;
    }

    .navbar__link {
        display: block;
        padding: 1.5rem;
        font-size: 6vw;
    }

    .navbar__wallet {
        width: 45vw;
        padding: 1.5rem;
        font-size: 4vw;
        display: block;
      }

    .navbar__burger {
        display: block;
        position: fixed;
        top: 2.5rem;
        right: 2rem;
    }

    .navbar__burger:hover {
        cursor: pointer;
    }
    
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: var(--tertiary);
        transition: all .5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar {
        width: 0;
        background: transparent;
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

    .navbar__item {
        transform: translateY(100vh);
    }

    .show-nav .navbar__item {
        transform: translateY(0);
    }

    .show-nav .slideInDown-1 {
        transition: all 1s ease-out;
    }

    .show-nav .slideInDown-2 {
        transition: all 1.1s ease-out;
    }

    .show-nav .slideInDown-3 {
        transition: all 1.2s ease-out;
    }
}