.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    min-height: 75px;
    box-shadow: var(--header-shadow);
    background-color: var(--nav-color);
    font-size: 1.5vw;
}

.navbar__logo {
    display: inline-flex;
    align-items: center;        
}

.navbar__socials {
    padding: 0 0 0 2vw;
}

.navbar__links {
    display: flex
}

.navbar__link {
    padding: 0 0.3rem 0 2rem;
    color: var(--accent-color);
    opacity: .3;
    text-decoration: none;
}

.navbar__link__active{
    padding: 0 0.3rem;
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-offset: 10px;
    opacity: .6;
}

.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    color: inherit;
}

@media screen and (max-width:767px) {
    .navbar {
        display: inline;
    }

    .navbar__logo {
        display: inline-flex;
        align-items: center;        
    }

    .navbar__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100vw;
        position: fixed;
        bottom: 0;
        width: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        transition: all .8s ease-out;
        background-color: var(--nav-color);

    }

    .show-nav .navbar__links {
        width: 100vw;
        right: 0;
        visibility: visible;
    }

    .navbar__link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar__burger {
        display: block;
        position: fixed;
        top: 2.5rem;
        right: 2rem;
    }

    .navbar__burger:hover {
        cursor: pointer;
    }
    
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: var(--accent-color);
        transition: all .5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar {
        width: 0;
        background: transparent;
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

    .navbar__item {
        transform: translateY(100vh);
    }

    .show-nav .navbar__item {
        transform: translateY(0);
    }

    .show-nav .slideInDown-1 {
        transition: all 1s ease-out;
    }

    .show-nav .slideInDown-2 {
        transition: all 1.1s ease-out;
    }

    .show-nav .slideInDown-3 {
        transition: all 1.2s ease-out;
    }
}