/* ERROR PAGE STYLESHEET */

.error-page {
    text-align: center;
    align-items: center;
}

.error-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 50px;
    text-transform: uppercase;

}

.error-btn {
        margin-top: 50px;
        border-color: transparent;
        text-transform: uppercase;
}