
.member__socials {
    text-decoration: none;
}
.member__card {
}

.member__card__header {
    text-align: center;
}

.member__prix {
    text-align: center;
}

.member__contact {
    justify-content: center;
}

.member__links {
    text-decoration: none;
}