/* FONTS */

/* @import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url('http://fonts.cdnfonts.com/css/public-pixel');

/* GLOBAL STYLES */

:root {
  --font-primary: 'Public Pixel', sans-serif;
  --font-secondary: 'Public Pixel', sans-serif;
  --font-code: 'Public Pixel', sans-serif;
  --bg-color: #1d1f22;
  --font-color: #929292;
  --btn-bg-color: #949494;
  --accent-color: #ffffff;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BACKGROUND VIDEO */

.video {
  position: fixed;
  z-index: -1;
  width: 100%
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}

.btn:disabled {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 0 0 var(--accent-color);
  cursor: not-allowed;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  opacity: 0.5;
}

.btn-nocap {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.num {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100px;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  width: 350px;
  margin-left: 2rem;
  border-color: transparent;
}

.heading-link {
  font-size: 30px;
  text-decoration: none;
  color: var(--accent-color);
  opacity: .3;
}

.active{
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 10px;
  opacity: 0.6;
 }

.mint-input {
  margin-top: 30px;
  margin-left: 2rem;
  border-color: transparent;
  width: 150px;
  opacity: 1;
}

.warning {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.mint-btn {
  margin-top: 30px;
  margin-left: 2rem;
  border-color: transparent;
  text-transform: uppercase;
}

.home-btn {
  text-align: center;
  align-items: center;
}

.minting {
  padding: 20px;
}

/* ABOUT PAGE */

.about {
  padding: 80px;
}

.about-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about-collection-title {
  text-align: left;
  font-size: 25px;
  margin-bottom: 30px;
}

.about-collection-text {
  text-align: left;
  font-size: 15px;
  margin-bottom: 30px;
  margin-right: 30px;
  text-transform: uppercase;
  line-height: 32px;
}

/* ADMIN PAGE */

.admin {
  padding: 80px;
}

.admin-settings-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
}

.admin-treasury-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.admin-grid-item {
  margin-bottom: 80px;
}

.admin-input-grid {
  margin-bottom: 60px
}

.admin-section-name {
  text-align: left;
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.admin-section-text {
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-transform: uppercase;
  line-height: 32px;
}

.admin-section-text-nocap {
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
  line-height: 32px;
}

.admin-btn {
  margin-top: 10px;
  border-color: transparent;
  text-transform: uppercase;
}

.admin-btn:disabled {
  margin-top: 10px;
}

.admin-input-btn {
  margin-top: 10px;
  margin-right: 20px;
  border-color: transparent;
  text-transform: uppercase;
}

.admin-input-btn-nocap {
  margin-top: 10px;
  margin-right: 20px;
  border-color: transparent;
}

/* MINTER PAGE */

.minting-wd-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

.minting-wd-subtitle {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 50px;

  line-height: 30px
}


/* ERROR PAGE */

.error-page {
  margin-top: 150px
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
}
 
