/* FONTS */
@import url('https://fonts.cdnfonts.com/css/public-pixel');

/* GLOBAL STYLES */
:root {
  --font-primary: 'Public Pixel', sans-serif;
  --font-secondary: 'Public Pixel', sans-serif;
  --font-code: 'Public Pixel', sans-serif;
  --bg-color: #1d1f22;
  --nav-color: #565657;
  --font-color: #929292;
  --btn-bg-color: #949494;
  --accent-color: #ffffff;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  z-index: 9999;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  padding: 30vh 10vw 10vh 10vw;
}

/* BACKGROUND VIDEO */

.video {
  position: fixed;
  z-index: -1;
  width: 100%
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  z-index: 0;
}

.btn:disabled {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 0 0 var(--accent-color);
  cursor: not-allowed;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  opacity: 0.5;
}

.btn-nocap {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.num {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100px;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

.active{
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 10px;
  opacity: 0.6;
}
