/* FONTS */
@import url('https://fonts.cdnfonts.com/css/public-pixel');

/* GLOBAL STYLES */
:root {
  --font-primary: 'Public Pixel', sans-serif;
  --font-secondary: 'Public Pixel', sans-serif;
  --font-code: 'Public Pixel', sans-serif;
  --primary:#122369;
  --secondary:#7d8bff;
  --tertiary:#b2d5ff;
  --accent-color:#2048f7;
  --header-shadow: var(--accent-color) 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  z-index: 9999;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--secondary);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  padding: 30vh 10vw 10vh 10vw;
}

/* BACKGROUND VIDEO */

.video {
  position: fixed;
  z-index: -1;
  width: 100%
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--tertiary);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  z-index: 0;
}

.btn:disabled {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--tertiary);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 0 0 var(--accent-color);
  cursor: not-allowed;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  opacity: 0.5;
}

.btn-nocap {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--tertiary);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.num {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100px;
  background: var(--tertiary);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  z-index: 0;

}

.btn:hover {
  box-shadow: none;
}


