/* ADMIN PAGE STYLESHEET */
  
  .admin-settings-header {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 100px;
  }
  
  .admin-treasury-header {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .admin-main-grid {
    direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .admin-grid-item {
    direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .admin-input-grid {
    margin-bottom: 60px;
    justify-content: center;
    align-items: flex-start;
    direction: row;
  }
  
  .admin-section-name {
    font-size: 3vw;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-style: bolder;
    align-items: center;
    text-align: center;
  }
  
  .admin-section-text {
    text-align: left;
    font-size: 1.7vw;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }

  .admin-info {
    color: var(--tertiary);
    font-family: var(--font-primary-bold);
}
  
  .admin-section-text-nocap {
    text-align: left;
    font-size: 1.5vw;
    margin-bottom: 10px;
    line-height: 32px;
  }
  
  .admin-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
    z-index: 0;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-bottom: 50px;
    border-color: transparent;
    text-transform: uppercase;
  }

  
  .admin-btn:disabled {
    margin-top: 10px;
  }
  
  .admin-input-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    position: relative;
    text-decoration: none;
    outline: none;
    font-size: 1.5vw;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    margin-top: 10px;
    margin-right: 20px;
    border-color: transparent;
    text-transform: uppercase;
    z-index: 0;
  }
  
  .admin-input-btn-nocap {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--tertiary);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    position: relative;
    text-decoration: none;
    outline: none;
    font-size: 1.5vw;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    margin-top: 10px;
    margin-right: 20px;
    border-color: transparent;
    z-index: 0;
  }

@media screen and (max-width:767px) {
  .admin-settings-header {
    font-size: 8vw;
  }
  
  .admin-treasury-header {
    font-size: 8vw;
  }

  .admin-main-grid {
    direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .admin-grid-item {
    direction: column;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    
  }
  
  .admin-input-grid {
    margin-bottom: 60px;
    justify-content: center;
    align-items: flex-start;
    direction: row;
  }
  
  .admin-section-name {
    font-size: 6vw;
    text-align: center;
  }
  
  .admin-section-text {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 32px;
  }
  
  .admin-section-text-nocap {
    text-align: left;
    font-size: 3vw;
    margin-bottom: 10px;
    line-height: 32px;
  }
  
  .admin-btn {
    font-size: 4vw;

  }
  
  .admin-btn:disabled {
    margin-top: 10px;
  }
  
  .admin-input-btn {
    font-size: 4vw;

  }
  
  .admin-input-btn-nocap {
    font-size: 4vw;
  }
}