/* ADMIN PAGE STYLESHEET */

.admin {
    padding: 80px;
  }
  
  .admin-settings-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
  }
  
  .admin-treasury-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  .admin-grid-item {
    margin-bottom: 80px;
  }
  
  .admin-input-grid {
    margin-bottom: 60px
  }
  
  .admin-section-name {
    text-align: left;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .admin-section-text {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
    text-transform: uppercase;
    line-height: 32px;
  }
  
  .admin-section-text-nocap {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
    line-height: 32px;
  }
  
  .admin-btn {
    margin-top: 10px;
    margin-bottom: 50px;
    border-color: transparent;
    text-transform: uppercase;
  }
  
  .admin-btn:disabled {
    margin-top: 10px;
  }
  
  .admin-input-btn {
    margin-top: 10px;
    margin-right: 20px;
    border-color: transparent;
    text-transform: uppercase;
  }
  
  .admin-input-btn-nocap {
    margin-top: 10px;
    margin-right: 20px;
    border-color: transparent;
  }
  
  .admin-donut {
    background-color: var(--font-color);
  }